body {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #F6F6F7;
  margin-top: 1em;
  padding: 8px 5em 8px 5em;
}

header p {
  text-align: right;
  color: #888;
  font-size: 12px;
  margin-bottom: 0;
}

.parentpopup {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 3em;
}

.parentpopup .cartpopup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: auto;
  margin-right: 0;
}

.parentpopup .cartpopup img {
  height: 100px;
  width: 80px;
}

.parentpopup .cartpopup .popupinfo {
  padding-left: 5px;
}

.parentpopup .cartpopup .popupinfo p {
  font-size: 12px;
}

.parentpopup .cartpopup .popupinfo span {
  font-weight: bold;
}

.selectpopup {
  visibility: visible;
}

.shirt-commerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5em;
}

.shirt-commerce img {
  padding-left: 5em;
  height: 600px;
}

.shirt-commerce .info-commerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shirt-commerce .cartData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shirt-commerce .cartData p {
  border: 1px solid #ccc;
  padding: 8px 14px 8px 14px;
  color: #ccc;
}

.shirt-commerce .sizeReq,
.shirt-commerce .shopbutton {
  margin: 0px 15px 0px 15px;
}

.shirt-commerce .sizeReq .req {
  color: #c90000;
}

.shirt-commerce .sizeReq h6 {
  font-size: 12px;
  color: #888;
}

.shirt-commerce .cartstyles p {
  font-size: 12px;
  margin: 5px 5px 5px 0px;
}

.shirt-commerce .classic-text,
.shirt-commerce .cartData,
.shirt-commerce .sizeReq,
.shirt-commerce .shopbutton {
  max-width: 35em;
  padding-left: 8em;
}

.shirt-commerce .btn {
  border: 2px solid #222;
  color: #222;
  padding: 8px 20px 8px 20px;
  margin-top: 1em;
  letter-spacing: 2px;
  font-weight: 700;
}

.shirt-commerce .btn:hover {
  background-color: #222;
  color: #ccc;
}

.shirt-commerce .classic-text h1,
.shirt-commerce .classic-text h6 {
  color: #222;
}

.shirt-commerce .classic-text h5 {
  margin-bottom: 1em;
}

.shirt-commerce .classic-text p {
  font-size: 12px;
  margin-top: 1em;
  color: #888;
}

.shirt-commerce .classic-text hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.selectedSize {
  border: 2px solid #222;
}

@media only screen and (max-width: 1075px) {
  .shirt-commerce .classic-text,
  .shirt-commerce .cartData,
  .shirt-commerce .sizeReq,
  .shirt-commerce .shopbutton {
    max-width: 25em;
    padding-left: 3em;
  }
  .shirt-commerce .cartData {
    padding-left: 48px;
  }
}

@media only screen and (max-width: 900px) {
  .shirt-commerce {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shirt-commerce img {
    width: 480px;
  }
  .shirt-commerce .classic-text,
  .shirt-commerce .cartData,
  .shirt-commerce .sizeReq,
  .shirt-commerce .shopbutton {
    max-width: 25em;
    padding-left: 3em;
  }
  .shirt-commerce .cartData {
    padding-left: 48px;
  }
}

@media only screen and (max-width: 600px) {
  .shirt-commerce {
    padding-top: 2em;
  }
  .shirt-commerce img {
    padding: 0px 15px 15px 15px;
    height: 600px;
  }
  .shirt-commerce .classic-text,
  .shirt-commerce .cartData,
  .shirt-commerce .sizeReq,
  .shirt-commerce .shopbutton {
    padding-left: 0;
  }
  .shirt-commerce .cartData {
    padding-left: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */